# Ignore local class materials
class_materials/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env
# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
*.ipynb~*

# Data
project/data/raw/*
project/data/processed/*

# OS
.DS_Store
